  .product-image {
    width: 100%;
    height: auto;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    background-color: white;
    color: gray;
    margin: 0 !important;
    padding: 22px; /* Adjust padding for desired button size */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  
  .swiper-button-prev {
    left: -10px !important;
  }
  
  .swiper-button-next {
    right: -10px !important;
  }
  
  .swiper-button-prev:after, 
  .swiper-button-next:after {
    color: gray;
    font-size: unset !important;
  }